* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #000;
    font-size: 72px;
    font-weight: 700;
    text-align: center;

}

#night_sky {
    width: 568px;
    height: 866px;
    margin-left: 55px;
    margin-right: 1297px;
}

#night {
    width: 100%;
    height: 446px;
    margin-bottom: 12px;
}

#night_info {
    width: 100%;
}

#stary {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

#info {
    color: #414651;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

#sky {
    color: #155EEF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

button {
    padding: 12px 32px;
    color: #cea201;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    background-color: white;
    border: 2px solid #CEA201;
    margin-top: 32px;
    margin-bottom: 74px;
}

#Creatures {
    width: 500px;
    height: 2362px;
}

#magic {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

#magic_p {
    color: #414651;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

h3 {
    color: #00c76e;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

#works {
    color: #ff5da3;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}

#butterfly {
    width: 200px;
    height: 200px;
    margin-top: 24px;
}

#ul {
    color: #414651;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
}

#see {
    color: #c27512;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px;
    border: 6px solid #C11574;
    background: #FFDEF0;
    margin-bottom: 24px;
    margin-top: 24px;

}

#black_img {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

#fish {
    width: 298.012px;
    height: 396px;
    margin-bottom: 24px;
}

a {
    color: #00d4bc;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}